@import 'index_animations.css';

*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    color: darkslategray;
    z-index: 1;
    transition: 0.4s ease-out;
}

.main-header a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.main-header .logo{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.main-header .nav-links{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    list-style: none;
}

.main-header .nav-links .nav-link{
    transition: opacity 0.4s ease-in-out, transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header .nav-links .nav-link:nth-of-type(2){
    transition-delay: 0.2s;
}

.main-header .nav-links .nav-link a{
    margin: 0.2rem;
    padding: 1rem 0.5rem;
}

.main-header .nav-links .nav-link a:hover{
    background: rgba(212, 212, 212, 0.2);
}

.main-header .menu-icon{
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.main-header .menu-icon .menu-icon-line{
    display: block;
    position: relative;
    background: darkslategray;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    transition: background 0.8s ease;
}

.main-header .menu-icon .menu-icon-line::before, .main-header .menu-icon .menu-icon-line::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: darkslategray;
    transition: background 0.8s ease;
}

.main-header .menu-icon .menu-icon-line::before{
    transform: translateY(-5px);
}

.main-header .menu-icon .menu-icon-line::after{
    transform: translateY(5px);
}

.main-header .menu-btn{
    position: absolute;
    top: -100px;
}

.main-header .menu-btn:focus ~ .menu-header .menu-icon .menu-icon-line::before{
    transform: translateY(-7px);
}

.main-header .menu-btn:focus ~ .menu-header .menu-icon .menu-icon-line::after{
    transform: translateY(7px);
}

.main-header.scrolled{
    height: 50px;
    background: rgba(47, 79, 79, 0.9);
    color: rgb(212, 212, 212);
}

.main-header.scrolled .menu-icon-line, .main-header.scrolled .menu-icon-line::before, .main-header.scrolled .menu-icon-line::after{
    background: rgb(212, 212, 212);
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(133, 209, 184);
    background-size: cover;
    background-position: center;
}

.sign-up-form{
    position: absolute;
    width: 340px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    background: rgb(212, 212, 212);
    padding: 20px;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-account{
    color: rgb(31, 53, 53);
}

.sign-up-form h1{
    color: darkslategray;
    margin-bottom: 10px;
}

.field-label{
    display: block;
    letter-spacing: 3px;
    padding-top: 30px;
    text-align: center;
}

.label-text{
    position: relative;
    bottom: 37px;
}

/* label text animation */
.field-label .label-text{
    color: grey;
    cursor: text;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.field-label input:focus + .label-text{
    color: darkslategray;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    transform: translateY(-60px);
    transition: 0.3s ease;
}

/* input field animation */
.field-label input:focus{
    max-width: 100%;
    width: 330px;
    transition: 0.5s ease;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 75%;
    border: 1px solid rgb(30, 50, 50);
    outline: none;
    transition: 0.3s ease;
}

/* Animation from validation (For empty required input fields) */
.field-label input:valid + .label-text{
    font-size: 14px;
    transform: translateY(-60px);
}

button{
    color: rgb(212, 212, 212);
    background-color: darkslategray;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

#error-message{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: red;
    width: 100%;
}

hr{
    margin: 20px;
    width: 80%;
}

.or{
    background: rgb(212, 212, 212);
    width: 30px;
    margin: -32px auto 10px;
}

img{
    width: 70px;
    margin-top: -50px;
}

/*Customize scrollbar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(212, 212, 212);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(129, 129, 129);
}

::-webkit-scrollbar-thumb:hover{
    background-color: darkslategray;
}

/*For phones and smaller width of the screen*/
@media screen and (max-width: 747px){
    .main-header .menu-icon{
        display: block;
    }
    
    .main-header .menu-icon-line{
        animation: closeMid 0.8s backwards;
        animation-direction: reverse;
    }
    
    .main-header .menu-icon-line::before{
        animation: closedTop 0.8s backwards;
        animation-direction: reverse;
    }
    
    .main-header .menu-icon-line::after{
        animation: closedBtm 0.8s backwards;
        animation-direction: reverse;
    }
    
    .nav-links{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10rem 0;
        width: 100vw;
        height: 100vh;
        font-size: 2rem;
        color: rgb(212, 212, 212);
        background: darkslategray;
        clip-path: circle(200px at top right);
        transition: 
            opacity 0.8s 0.5s, 
            clip-path 1s 0.5s;
    }
    
    .nav-link{
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
    }
        
    .nav-link a{
        display: block;
        padding: 2rem 0;
    }
    
    .menu-btn:checked ~ .nav-links{
        opacity: 1;
        clip-path: circle(100% at center);
    }
    
    .menu-btn:checked ~ .nav-links .nav-link{
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    }
        
    .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1){
        transition-delay: 0.7s;
    }
    .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2){
        transition-delay: 0.9s;
    }
    
    .menu-btn:checked ~ .menu-icon .menu-icon-line, .menu-btn:checked ~ .menu-icon .menu-icon-line::before, .menu-btn:checked ~ .menu-icon .menu-icon-line::after{
        background: rgb(212, 212, 212);
    }
    
    .menu-btn:checked ~ .menu-icon .menu-icon-line{
        animation: openMid 0.8s forwards;
    }
    .menu-btn:checked ~ .menu-icon .menu-icon-line::before{
        animation: openTop 0.8s forwards;
    }
    .menu-btn:checked ~ .menu-icon .menu-icon-line::after{
        animation: openBtm 0.8s forwards;
    }
    
    .menu-btn:checked ~ .menu-icon{
        border-radius: 50%;
        animation: pulse 1s;
    }

    .main-header .logo{
        font-size: 22px;
        position: relative;
        right: 30px;
    }

    .sign-up-form{
        width: 225px;
    }

    .field-label .label-text{
        font-size: 10px;
    }
}

@media screen and (max-width: 949px) and (min-width: 747px){
    .sign-up-form{
        width: 280px;
    }

    .field-label .label-text{
        font-size: 14px;
    }
}
